<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Film instruktażowy - Kalkulator</title>
</head>
<body>
    <h1>Film instruktażowy - Kalkulator</h1>
    <p>Część pierwsza</p>
    <iframe width="1000"
            height="600"
            src="https://www.youtube.com/embed/Gkkc4dMfwIk"
            frameborder="0"
            allowfullscreen></iframe>

    <h1>  </h1>
    
    <p>Część druga</p>
    <iframe width="1000"
            height="600"
            src="https://www.youtube.com/embed/Hvls36vayGo"
            frameborder="0"
            allowfullscreen></iframe>
</body>
</html>
